&uart0 {
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&uart0_default>;
    pinctrl-names = "default";
};

&pinctrl {
    uart0_default: uart0_default {
        group1 {
            pinmux = <UART0_TX_GPIO5>;
        };
        group2 {
            pinmux = <UART0_RX_GPIO16>;
            bias-pull-up;
        };
    };
};
